.item-body{
    background-color: grey;
    display: flex !important;
    width: 100%;
    flex-direction: row !important;
}
.item-body:hover{
    background-color: rgb(78, 78, 78);
}
.dialog-avatar{
    margin: 2vh;
    margin-right: 0;
    display: flex;
    align-items: center;
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
}
.dialog-info{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    .user{
        margin-left: 5%;
        flex-direction: row;
        justify-content: space-between;
        .username{
            font-size: 2vh;
            display: flex;
            align-items: center;
        }
        .time-message{
            margin-right: 2vh;
        }
    }
    .message{
        margin-left: 2vh;
        
    }
    .body-messages{
        width: 100%;
        word-break: break-all;
    }
    
}