#dialog-container{
    width: 67%;
    background-color:#3A3A3A;
    margin: 1vh;
    margin-left: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-left: 1px;
    border-style: solid;
}