#back{
    background-color: rgb(88, 85, 85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    position: relative;
}
.PrismaneButton-text{
    font-size: 18px !important;
}
.PrismaneButton-root:focus{
    outline: none;
}
.prismane-c-gsWpOQ{
    background-color: transparent !important;
}
.Register, .Login{
    width: 100% !important;
    border-radius: 25px !important;
    height: 35px !important;
    border: none;
    z-index: 1;
}
.Register{
    margin-left: 10px;
}
.Login{
    margin-right: 10px;
}
#toggler-item-back{
    z-index: 0;
    background: linear-gradient(45deg, rgb(255, 229, 0), rgb(224, 157, 255));
    position: absolute;
    left: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    height: 35px;
    width: 45%;
}